<a href="https://colab.research.google.com/github/Yuu314/dap-2024/blob/main/les04/lab4res.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Лабораторная работа №4. Анализ данных пассажиров "Титаника"**

**Цель работы**

Освоение практических навыков анализа данных с использованием библиотеки Pandas на реальном историческом датасете - данных о пассажирах Титаника.

**Задание 1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"**

In [1]:
import numpy as np
import pandas as pd
url = 'https://raw.githubusercontent.com/Yuu314/dap-2024/main/les04/data/titanic.csv'
titanic_df = pd.read_csv(url, index_col='PassengerId')
titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

**Задание2. Просмотрите первые 6 строк**

In [2]:
titanic_df.head(6)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

**Задание3. Выведите описание данных**

In [3]:
titanic_df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200


**Задание 4. Сколько мужчин / женщин находилось на борту?**

In [5]:
male = titanic_df['Sex'] == 'male'
female = titanic_df['Sex'] == 'female'
print("На борту находилось", male.sum(), "мужчин и", female.sum(), "женщин.")

На борту находилось 577 мужчин и 314 женщин.

**Задание 5. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса**

In [6]:

pclass = titanic_df['Pclass']
print("Распределение переменной Pclass:\n", pclass.value_counts())
print("\nРаспределение переменной Pclass по мужскому полу:\n", pclass[male].value_counts())
print("\nРаспределение переменной Pclass по женскому полу:\n", pclass[female].value_counts())
count = pclass[male].value_counts().loc[2]
print("\nКоличсество мужчин во 2ом классе:", count)

Распределение переменной Pclass:
 Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение переменной Pclass по мужскому полу:
 Pclass
3    347
1    122
2    108
Name: count, dtype: int64

Распределение переменной Pclass по женскому полу:
 Pclass
3    144
1     94
2     76
Name: count, dtype: int64

Количсество мужчин во 2ом классе: 108

**Задание 6. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.**

In [7]:
median = round(titanic_df['Fare'].median(), 2)
std = round(titanic_df['Fare'].std(), 2)
print(f"Медиана: {median}")
print(f"Среднеквадратиное отклонение: {std}")

Медиана: 14.45
Среднеквадратиное отклонение: 49.69

**Задание 7. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?**

In [11]:
young = titanic_df[titanic_df['Age'] < 30]
old = titanic_df[titanic_df['Age'] > 60]
young_survived = round(young['Survived'].mean(), 2)
old_survived = round(old['Survived'].mean(), 2)
print(f"% выживших среди людей моложе 30 лет: {young_survived}")
print(f"% выживших среди людей старше 60 лет: {old_survived}")
if young_survived > old_survived:
  print("Утверждение истинное")
else:
  print("Утверждение ложное")

% выживших среди людей моложе 30 лет: 0.41
% выживших среди людей старше 60 лет: 0.23
Утверждение истинное

**Задание 8. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?**

In [13]:

male = titanic_df[titanic_df['Sex'] == "male"]
female = titanic_df[titanic_df['Sex'] == "female"]
male_survived = round(male['Survived'].mean(), 2)
female_survived = round(female['Survived'].mean(), 2)
print(f"% выживших мужчин: {male_survived}")
print(f"% процент выживших женщин: {female_survived}")
if female_survived > male_survived:
  print("Утверждение истинное")
else:
  print("Утверждение ложное")

% выживших мужчин: 0.19
% процент выживших женщин: 0.74
Утверждение истинное

**Задание 9. Найдите самое популярное имя среди пассажиров Титаника мужского пола?**

In [14]:
name = male['Name'].str.split(" ").str[2]
print(f"Самое популярное имя среди пассажиров 'Титаника' мужскго пола: {name.mode().iloc[0]}")

Самое популярное имя среди пассажиров 'Титаника' мужскго пола: William

**Задание 10. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания?**

Выберите верные утверждения:
+ В среднем мужчины 1-го класса старше 40 лет
+ В среднем женщины 1-го класса старше 40 лет
+ Мужчины всех классов в среднем старше женщин того же класса
+ В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [20]:
df = pd.read_csv(url)
df.groupby(['Sex', 'Pclass'])['Age'].mean().round(1)

Sex     Pclass
female  1         34.6
        2         28.7
        3         21.8
male    1         41.3
        2         30.7
        3         26.5
Name: Age, dtype: float64

Верные утверждения:
+ В среднем мужчины 1-го класса старше 40 лет
+ Мужчины всех классов в среднем старше женщин того же класса
+ В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

**Задание 11.Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?**

In [22]:
survived = titanic_df[titanic_df['Survived'] == 1]
dead = titanic_df[titanic_df['Survived'] == 0]
survived_age = round(survived['Age'].mean(), 2)
dead_age = round(dead['Age'].mean(), 2)
print(f"Средний возраст выживших: {survived_age}")
print(f"Средний возраст погиших: {dead_age}")
if dead_age > survived_age:
  print("Утвреждение верно")
else:
  print("Утверждение неверно")

Средний возраст выживших: 28.34
Средний возраст погиших: 30.63
Утвреждение верно

---
##**Дополнительные вопросы для защиты**
1. **Что такое медиана? Рассчитать медиану для предложенного ряда чисел.**

Медиана — это статистическая мера, которая указывает на центральное значение в упорядоченном ряду чисел. Она делит ряд пополам: половина чисел меньше медианы, а другая половина — больше.

+ Ряд чисел:  67, 89, 45, 56
+ Упорядоченный ряд чисел: 45, 56, 67, 89
+ Т.к. ряд чисел четный, то медианой будет среднеарифметическое двух центральных чисел: (56 + 67) / 2 = 61.5
+ Медиана: 61.5

---
2. **Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.**

Дисперсия — это статистическая мера, которая показывает, насколько значения в наборе данных отклоняются от среднего значения. Чем больше дисперсия, тем сильнее значения разбросаны относительно среднего.
+ Ряд чисел: 67, 89, 45, 56
+ Среднее значение: (67+89+45+56)/4 = 64.25
+ Значение (xi​)       Отклонение (xi−μ)   Квадрат отклонения ((xi​−μ)^2)
  + ***67***  | 67 - 64.25 = ***2.75*** | 2.752=7.56252.75^2 = 7.56252.752=***7.5625***
  + ***89***  |  89 - 64.25 = ***24.75***| 24.752=612.562524.75^2 = 612.562524.752=***612.5625***
  + ***45***  |  45 - 64.25 = ***-19.25*** | (−19.25)2=370.5625(-19.25)^2 = 370.5625(−19.25)2=***370.5625***
  + ***56***  |  56 - 64.25 = ***-8.25*** |(−8.25)2=68.0625(-8.25)^2 = 68.0625(−8.25)2=***68.0625***
+ Сумма квадратов отклонений: 1058.75
+ Дисперсия: 1058.75 / 4 = 264.6875

---
3. **Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.**

Среднеквадратичное отклонение (стандартное отклонение) — это мера разброса значений в наборе данных относительно среднего. Оно показывает, насколько в среднем значения отклоняются от среднего арифметического. Среднеквадратичное отклонение равно квадратному корню из дисперсии.
+ Среднеквадратичное отклонение: квадратный корень 264.6875 примерно равен 16.27

---
4. **Что такое Series и чем он отличается от DataFrame**

*Series* — это одномерная структура данных в библиотеке pandas, похожая на столбец таблицы или одномерный массив. У каждого элемента в Series есть индекс (по умолчанию — числовой, но может быть и строковым, датой и т. д.).

*DataFrame* — это двумерная структура данных, похожая на таблицу в Excel или SQL. Она состоит из строк и столбцов, где каждый столбец — это отдельный Series.

Отличия:
+ Размерность:
  + Series - Одномерная (столбец)
  + DataFrame - Двумерная (таблица)
+ Индексация:
  + Series - Есть индекс для каждого элемента
  + DataFrame - Есть индекс для строк и имена столбцов
+ Структура:
  + Series - Один столбец
  + DataFrame - Несколько столбцов (каждый — Series)
+ Данные:
  + Series - Один тип данных для всех элементов
  + DataFrame - Разные типы в разных столбцах
+ Применение:
  + Series - Для работы с одномерными данными
  + DataFrame - Для работы с табличными данными

---
5. **Можно ли изменить индекс в Series после создания объекта?**

Да, в pandas Series индекс можно изменить после создания объекта. Для этого используется свойство .index.

---
6. **Можно ли выполнить операцию сложения над двумя объектами Series, если они имеют:**
+ одинаковые типы данных, одинаковые размеры и одинаковые индексы?
  + Сложение выполнится. Результат — новая Series с теми же индексами, где каждый элемент — сумма соответствующих элементов исходных Series.
+ одинаковые типы данных, одинаковые размеры, но разные индексы?,
  + Сложение выполнится только для совпадающих индексов. Результат — Series с объединёнными индексами, где суммируются только элементы с одинаковыми индексами. Остальные — NaN.
+ одинаковые типы данных, разные размеры и одинаковые индексы?
  + Ошибка. Если размеры разные, но индексы совпадают, pandas не сможет выполнить операцию (несоответствие размеров).
+ разные типы данных, одинаковые размеры и одинаковые индексы?
  + Сложение выполнится, если типы совместимы. Если типы данных можно автоматически привести к общему (например, int + float), результат будет с общим типом. Если типы несовместимы (например, int + str), — ошибка
+ разные типы данных, одинаковые размеры и разные индексы?
  + Аналогично п. 4, но только для совпадающих индексов. Суммируются только элементы с совпадающими индексами, если их типы совместимы. Остальные — NaN.
+ разные типы данных, разные размеры и разные индексы?
  + Ошибка или результат с NaN. Если размеры и индексы не совпадают, а типы данных несовместимы, результат будет содержать NaN для всех несовпадающих пар.

---
7. **Что необходимо сделать, чтобы число строк в DateFrame при его просмотре, по умолчанию составляло 8?**

Чтобы изменить количество строк, отображаемых по умолчанию в pandas DataFrame при его просмотре, нужно настроить параметр display.max_rows с помощью функции pd.set_option().
```
import pandas as pd
# Устанавливаем количество отображаемых строк по умолчанию
pd.set_option('display.max_rows', 8)
```
---
8. **Чем отличается метод iloc от метода loс**
В pandas методы iloc и loc используются для индексации и выбора данных в DataFrame или Series, но они работают по-разному:
+ iloc (integer location-based indexing)
  + Выбор по позициям (индексам строк/столбцов).
  + Использует целочисленные индексы (номера строк и столбцов), начиная с 0.
  + Не зависит от меток строк или столбцов (игнорирует их).
  + Подходит, когда нужно выбрать данные по их позиции в таблице.
+ loc (label-based indexing)
  + Выбор по меткам (индексам строк/столбцов).
  + Использует метки строк и названия столбцов (как они определены в DataFrame).
  + Подходит, когда нужно выбрать данные по именам строк или столбцов.

---
9. **Можно ли добавить в DateFrame дополнительный Series?**
Да, в DataFrame можно добавить дополнительный Series как новый столбец. Это делается несколькими способами:
+ Присвоение по имени столбца. Просто присвойте Series новому столбцу по его имени. Длина Series должна совпадать с количеством строк в DataFrame.
```
import pandas as pd
# Создаём DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
# Создаём Series
new_series = pd.Series([7, 8, 9])
# Добавляем Series как новый столбец 'C'
df['C'] = new_series
```
+ Использование pd.concat(). Если нужно добавить Series как столбец с сохранением индексов, можно использовать pd.concat().
```
df = pd.concat([df, new_series.rename('C')], axis=1)
```

---
10. **Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?**
+ Для CSV и Json не нужны дополнитьельные библиотеки, в pandas встроенная поддержка
+ Для Excel (.xls) требуется дополнительная билиотека, например openpyxl или xlrd